@import url(./botton.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light: #d7d7d7;
    --medium:#666666;
    --dark:black;
    --blue: #086cb4;
    --botton-size: 12em;
    --reflex-size: 11em;
}

body {
    height: 100vh;
    background-color: var(--blue);
}

main{
    height: 60%;    
}

.container{
    height: fit-content ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--light);
    flex-wrap: wrap;
    border: 50px #161515 solid;
    box-shadow: inset 0 0 10px;
    background-color: #b17941;
}

.git-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    &:hover > .div-botton {
        transform: rotate(30deg);
    }
}
.div-botton{
    padding: 1em;
    cursor: pointer;
    transition: transform 1s;
}

.div-information{
    background-color: var(--dark);
    padding: 1em;
    display:flex;
    flex-direction: column;
    display: none;
}

#user-name{
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2em;
}

.redes{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    background-color: var(--container);
    margin-top: 1em;
}

.redes img {
    width: 3em;
}